<h1>Создание комментария</h1>
<form method="post" action="/news/api" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="authorInput" class="form-label">Автор</label>
    <input class="form-control" name="author" id="authorInput">
  </div>
  <div class="mb-3">
    <label for="messageInput" class="form-label">Сообщение</label>
    <textarea class="form-control" name="message" id="messageInput" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="avatar">Аватар</label>
    <input type="file" class="form-control-file" id="avatar" name="avatar">
  </div>
  <button type="button" class="btn btn-primary mt-3" onclick='sendForm({{id}}, {{#if idCommentInt}}{{idCommentInt}}{{/if}})'>Создать</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function sendForm(id, comment) {
    var data = new FormData($('form')[0]);
    $.ajax({
      url: `/comments/api/${id}${comment ? `/?idComment=${comment}` : ''}`,
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'POST',
      success: function() {
        window.location.href = `/news/${id}/detail`;
      },
      error: function(data) {
        console.log(data.responseText)
      }
    });
  }
</script>
