<h1>Редактирование новости</h1>
{{#if user}}
  <form method="patch" action="/news/api" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="firstNameInput" class="form-label">firstName</label>
      <input class="form-control" name="firstName" id="firstNameInput" value="{{user.firstName}}">
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">email</label>
      <textarea class="form-control" name="email" id="emailInput" rows="3">{{user.email}}</textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick='sendForm({{user.id}})'>отправить</button>
  </form>
{{else}}
  <h1>пользователь отсутствует!</h1>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function sendForm(id) {
    var data = new FormData($('form')[0]);
    $.ajax({
      url: `/users/api/${id}`,
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'PATCH',
      success: function() {
        alert('успешно')
        window.location.href = `/news/all`;
      }
    });
  }
</script>
