<h1>Редактирование новости</h1>

  <form method="patch" action="/news/api" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">email</label>
      <input type="email" class="form-control" name="username" id="usernameInput">
    </div><div class="mb-3">
      <label for="passwordInput" class="form-label">password</label>
      <input class="form-control" name="password" id="passwordInput">
    </div>
    <button type="button" class="btn btn-primary" onclick='sendForm()'>войти</button>
  </form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function sendForm() {
    var data = new FormData($('form')[0]);
    const dataJSON = JSON.stringify({username:data.get('username'),password:data.get('password')})
    console.log(dataJSON)
    $.ajax({
      url: `/auth/login`,
      data: dataJSON,
      cache: false,
      contentType: JSON,
      processData: false,
      method: 'POST',
      success: function() {
        alert('успешно')
        //window.location.href = `/news/all`;
      },
      error: function(date){
        console.log(date)
      }
    });
  }
</script>
